/*Header CSS---------------------------------------*/
header {
  
  background-color: none;
  height: 14vw;
  }

header.darkMode-on {
  background-color: navy;
  
}

/*baner text*/
#fpTitleDiv {
  text-align: center;
  padding: 0; /*TO BE REMOVED*/
  margin: 0;  /*TO BE REMOVED*/
  
}
/*  https://www.1001fonts.com/fancy+modern-fonts.html?page=3*/
.fpTitleDiv__text {
  position: relative;
  left:25%;
  margin: 0;
  font-size: 7vw;
  color: white;
  text-shadow: 0.2vw 0.1vw 1vw black;
  position: absolute;
  z-index: 2;
    

}

.fpTitleDiv__text.darkMode-on {
  color: #14203c;
  text-shadow: 0.2vw 0.1vw 1vw white;
}

.fpTitleDiv__text .redText {
  color: #5f63d6;
  font-size: 3.5vw;
  text-shadow: 0.2vw 0.1vw 1vw #547edd;
/*  text-shadow: none;*/
  
}

.fpTitleDiv__text .redText.darkMode-on {
  color: #183a89;
  text-shadow: 0.2vw 0.1vw 1vw #ebf29e;
  
/*  text-shadow: none;*/
  
}



/*baner image*/
#fpLogoDiv {
  text-align: center;
  padding: 0;
  margin: 0;
  position: absolute;
  
}
#fpLogoDiv img {
  width: 70%;
  position: relative;
  z-index: 1;
  left:-6vw;
}
#fpTitleDiv, #fpLogoDiv {
  border: none
    
    
  
}
#fpLogoDiv.darkMode-on {
  filter: drop-shadow(0vw -1vw 0.5vw rgba(233, 234, 220, 0.19));
}



@media screen and (min-width:2210px){
  #fpTitleDiv h1 {
    font-size: 160px;
    left:600px;
    
  }
  
  #fpTitleDiv h1 .redText {
    font-size: 80px;
  }
}



.hidingLogo {
  float: right;
    
}
.hidingLogo__img{
  
  height: 12vw;
  max-height: 300px;
  width: auto;
  display: block;
  
}


/*hides hidingLogo on Mobile and Tablet -- FOR TEST ONLY*/
@media screen and (max-width: 1010px){
  .hidingLogo__img {
    display: none;
  }
}
