/*Nav CSS-------------------------------------------*/

.navBar { grid-area: nav; }
  
.navBar { 
margin: 1vw;
  
}

@media screen and (max-width: 570px) {
  .navBar { 
    position: -webkit-sticky;
    position: sticky;
    top: 6px;
    z-index: 4;
    
    
  }
}


@media print {
  .navBar { 
    display: none;
  }
}
.menu__title {
  margin: 0;
  color: #79829d;
  text-align: center;

  
}

.menu__list{

  
}

.menu__item{
  display: block;
  max-width: 500px;
  
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  
  text-decoration: none; /*rmoves UNDERINE from links*/
  line-height: 1.5;
  
  font-weight: bold;
  
  background-color: #888888;
  color: white;
  box-shadow: 1px 1px 2px #bababa;
  border-radius: 3px;
  
  
  
}
.menu__item.darkMode-on{
  background-color: rgba(121, 130, 157, 0.4);
  box-shadow: none;
} 


@media screen and (min-width: 571px) and (max-width: 1010px){
  .menu__item {
    display: inline;
    margin: auto;
  }
}



/* Change color on hover */
.menu__item:hover{
  background-color: #e8a9a9;
  cursor: pointer;


}
.menu__item.darkMode-on:hover {
  border: 1px solid gray;
  background-color: #151515;
  border-radius: 3px;
}
#menu__label {
  cursor: pointer;
  font-size:1.4em;
  padding-left: 3px;
  color: #f7f7f7;
  background-color: #bababa;
  border-radius: 5px;
  width: 1.2em;
}
#menu__label.darkMode-on {
  color: #8fb9fc;
  background-color: #031729;
}


#menu__toggle{ /*removes checkbox near MENU label*/
     display: none;

}

@media screen and (max-width: 570px) {
  
    #menu__label{ /*styles MENU symbol*/
        display: block;
        

    }
    
    #menu__toggle:checked + .menu{ /*MENY symbol appears*/
        display: block;
      
        background-color: rgba(250, 248, 246, 0.53);
        border-radius: 10px;
        backdrop-filter: blur(2px);
      
      
      
    }

    nav .menu{ /*MENU hides when MESNU symbol clicked*/
        display: none;
        clear: right;
      
    }

}
/*DESKTOP and TABLET - hide MENU symbol*/
@media screen and (min-width: 571px) and (max-width: 1010px), (min-width:1010px){
   label{
        
        display: none;
    }
}