.accessibility {
  display:  flex;
  justify-content: flex-end;
  
}

@media print {
  .accessibility {
  display:  none;
    
}

  
}
.accessibility > * {
  margin-left: 4px;
  margin-right: 4px;
}


/*FONT SIZE selector ######################################*/
.small  {font-size: 1.2em;}
.medium {font-size: 1.8em;}
.large  {font-size: 2.4em;}

#smallA, #mediumA, #largeA {
  cursor: pointer;
}

.fontSize {
  display: flex;  
    align-items: baseline;
  
  border: 1px solid gray; 
  border-radius: 6px;
  
}

.fontSize__selector {
  margin-left: 3px;
  margin-right: 3px;
}

.fontSize__selector:hover {
  background-color: #e8a9a9;
  border-radius: 5px;
}

:root{
  --fontSize__selector_size: 0.8em
}
.fontSize__selector.small {
font-size: calc(var(--fontSize__selector_size) * 1.0);  
}

.fontSize__selector.medium {
font-size: calc(var(--fontSize__selector_size) * 1.3);  
}
.fontSize__selector.large {
font-size: calc(var(--fontSize__selector_size) * 1.6);  
  
}



/*DARKMODE selector ##########################*/

.theme {
  display: flex;
  border: 1px solid gray; 
  border-radius: 6px;
  
}

.theme__selector {
  cursor: pointer;
  text-align: center;
  
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px; 
  padding-top: 3px;
}

.theme__selector:hover {
  background-color: #e8a9a9;
  
  
}

 .theme__selector--dark {
    color: beige;
    background-color: darkslategray;
  }

.theme__selector--bright  {
    color: black;
    background-color: white;
  
  }




/*PRINT button##########*/

.print_button {
  display: flex;
  background-color: white;
  border-radius: 5px;
    
}

.print_button {
  font-size: calc(var(--fontSize__selector_size) * 1.2);
  
  
}


.print_button.darkMode-on {
  display: none;
}

.print_button:hover {
  background-color: #e8a9a9;
  cursor: pointer;
}