/*FOOTER styles*/
.footer {
  border: 2px solid black;
  font-size: 0.9em
}


.footer__header {
  margin: 0;
}

.footer__list {
  
}

.footer__item {
  display: inline;
  margin: 10px;
}
@media screen and (max-width: 570px){
  .footer__list {
  display: inline;
  padding: 0px;
}

  .footer__item {
  display: block;
  }

}

.footer__note {
  text-align: center;
  font-size: 0.8em;
  color: gray;
}