/*Nav CSS-------------------------------------------*/

nav { grid-area: nav; }

}

.menu__title {
  margin: 0;
  color: #79829d;
  text-align: center;

  
}

.menu__list{

  
}

.menu__item, .menu__print_button {
  display: block;
  max-width: 500px;
  
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  
  text-decoration: none; /*rmoves UNDERINE from links*/
  line-height: 1.5;
  color: white;
  
  background-color: #79829d;
  box-shadow: 5px 5px 10px #adbbe6;
  border-radius: 5px;
  
  
  
}
.menu__item.darkMode-on, .menu__print_button.darkMode-on{
  background-color: rgba(121, 130, 157, 0.4);
  box-shadow: 0px 0px 4px white;
} 

.menu__print_button {
  font-size: 1em;
  background-color: #a09c98;
  
}
.menu__print_button.darkMode-on {
  display: none;
}

@media screen and (min-width: 571px) and (max-width: 1010px){
  .menu__item {
    display: inline;
    margin: 1vw;
  }
  .menu__print_button{
    display: inline;
    `
  }
}



/* Change color on hover */
.menu__item:hover, .menu__print_button:hover {
  background-color: #e8a9a9;
  cursor: pointer;


}

#toggle{ /*removes checkbox near MENU label*/
     display: none;
/*
   */


}

@media screen and (max-width: 570px) {
  
    label{ /*styles MENU symbol*/
        display: block;
        cursor: pointer;
        font-size:28px;
        color: black;
/*        float:left;*/
/*        margin-right: 20px;*/

    }
    
    #toggle:checked + .menu{ /*MENY symbol appears*/
        display: block;
      
    }

    nav .menu{ /*MENU hides when MESNU symbol clicked*/
        display: none;
        clear: right;
    }

}
/*DESKTOP and TABLET - hide MENU symbol*/
@media screen and (min-width: 571px) and (max-width: 1010px), (min-width:1010px){
   label{
        
        display: none;
    }
}