/*BREADCRUMBS styles*/
.breadcrumbs {
  margin-top: auto;
  margin-bottom: auto;
  
}

.breadcrumbs__text{
  color: gray;
  font-size: 0.8em;
  padding-left: 20px;
}

.bradcrumbs__link{
  color: gray;
/*  text-decoration: none*/
}

.breadcrumbs__at{
  color: #535252;
}

@media screen and (max-width: 570px){
  .breadcrumbs {
    margin: auto;
    margin-top: 4px;
    margin-bottom:4px;


}

  .breadcrumbs__text{
    color: lightgrey;
    font-size: 0.6em;
    
  }

}