/*PAGE - MUST_SEE##################################*/
/*Common style modified*/
.must_see_short.closed_area {
  background: none;
  border-radius: 5px;
}


/*Layout modification*/
@media screen and (max-width: 570px) {
  #grid-container-index {
    grid-template-columns: 50% 50%;
    grid-template-areas:
    'header header'
    'nav accesibility'
    'breadcrumbs breadcrumbs'
    'pano_top pano_top'
    'sidePanel sidePanel'
    'main main'
    'footer footer';
  }
  
  .at_this_page {
    display: none;
  }
}



/*Only for this page###########################*/

:root {
  --must_see_main_max_width: 800px;
}


.must_see_main{
  position: relative;
  margin: 1vw;
  
  background-color: hsl(18, 21%, 90%);
  box-shadow: 0px 0px 8px hsl(18, 21%, 63%);
  border-radius: 15px;
}

.must_see_main.darkMode-on {
  background-color: hsla(18, 76%, 28%, 0.13);
  box-shadow:none;
}
.must_see_main__item {
  background-color: hsla(18, 20%, 94%, 0.45);
  margin-bottom: 5px;
  border-radius: 2vw;
}
.must_see_main__item.darkMode-on {
  background-color: #171717
} 

.must_see_main__name{
  padding: 1vw;
}

.must_see_main__img {
  display: block; /*necessary to center an image inside div*/
  position: relative; 

  max-width: var(--must_see_main_max_width);
  width: 90%;
  height: auto;
  margin: auto; /*necessary to center an image*/
  
  border-radius: 15px;
  
 }

@media screen and (max-width: 570px){
  .must_see_main__img {
    width: 95%;
  }
}

.must_see_main__description{
  padding: 1vw;
}
.must_see_main__link {
  display: block;
  padding: 0.5vw;
  padding-bottom: 2vw;
}

/*MUST_SEE_SHORT #####################*/
.must_see_short{
  background: none;
}

.must_see_short.darkMode-on{
  background: none;
  box-shadow: none;
}


.must_see_short__heading{
  margin: 0.05vw;
  color: black;
  font-size: 0.8em;
}

.must_see_short__list{
  list-style-type: none;
  padding-left: 0;

}
.must_see_short__item {
  padding: 0.01vw;
  background-color: none;
  box-shadow: 2px 2px 5px #d4d4d4;
  border-radius: 5px;
  margin: 10px;
  
}

.must_see_short__item:hover {
  padding: 0.01vw;
  background-color: bisque;
  border-radius: 10px;
  
}


.must_see_short__img{
  vertical-align: middle;
  height: 40px;
  width: auto;
  border-radius: 10px;
  
}


.must_see_short__name, .must_see_short__link{
  color: black;
  font-size: 0.9em;
  text-decoration: none;
  padding: 0px;
}
.must_see_short__name {
  
}

.must_see_short__link{
  
}

.must_see_short__item.darkMode-on:hover {
  border: 1px solid gray;
  background-color: #535353;
  border-radius: 3px;
}
.must_see_short__symbol{
  font-size: 0.7em;
  color: gray;
}


/*PRINTING display#################*/
@media print  {
  .accessibility {
    display: none;
  }
  
  .must_see_main__img{
    width: 400px;
  }
  #grid-container-index {
    width: 1000px;
    
    grid-template-columns: auto;
    grid-template-areas:
    'header'
    'breadcrumbs'
    'sidePanel'
    'article'
    'main'
    'footer';
  }
}
/*Makes all text in one color in dark mode - unless overriden*/
.darkMode-on {
  color: bisque;
}
