/*PAGE LAYOUT*/
header { grid-area: header; }
.accessibility {grid-area: accesibility;}
main {grid-area: main;}
.breadcrumbs {grid-area: breadcrumbs;}
footer{grid-area: footer;}
/*.sidePanel {grid-area: sidePanel;}*/

/*Layout*/
#grid-container-index {
  display: grid;
  
}
@media screen and (max-width: 570px) {
  #grid-container-index {

    grid-template-areas:
    'header header'
    'nav accesibility'
    'breadcrumbs breadcrumbs'
    'main main'
    'footer footer';
  }
  
}
@media screen and (min-width: 571px) and (max-width: 1010px){
  #grid-container-index {
    grid-template-columns: 25% auto;
    grid-template-areas:
    'header header header'
    'breadcrumbs breadcrumbs accesibility'  
    'nav nav nav'
    'main main main'
    'footer footer footer';
  }
}
@media screen and (min-width:1011px){
  #grid-container-index {
    grid-template-columns: auto 60% auto;
    grid-template-areas:
    'header header header'
    'breadcrumbs breadcrumbs accesibility'
    'nav nav nav'
    'main main main'
    'footer footer footer';
  }
}

/*NAV - page specific modification  ##################################*/
@media screen and (min-width: 571px) {
  .menu__item {
    display: inline;
    margin: auto;
  }
}

img.darkMode-on {
  filter: brightness(0.9);
}



/*MAIN ---- photo gallery ###################################*/
/*#Reference 4 - https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp*/

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  max-width: 2500px;
  margin: auto;
}

/* Create four equal columns that sits next to each other */
.column {
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 570px){
  /*  One column layout */
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
  
@media screen and (min-width: 571px) and (max-width: 1010px){
  /* Two column-layout */
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
  
@media screen and (min-width:1011px){
  .column {
    flex: 25%;
    max-width: 25%;
  }
}


/*PRINTING display#################*/
@media print  {
  header, .accessibility {
    display: none;
  }
  #grid-container-index {
    width: 1500px;
    
    grid-template-columns: auto;
    grid-template-areas:
    'header'
    'breadcrumbs'
    'article'
    'main'
    'footer';
  }
  
  .photos img{
    width: 250px;
    margin: 5px;
  }
}
