/*PAGE - CAFE ####################*/
/*Common style modified*/
.cafes_short.closed_area {
  background: none;
  border-radius: 5px;
}



/*Layout modification*/
@media screen and (min-width: 571px) and (max-width: 1010px){
  #grid-container-index {
    grid-template-columns: 40% auto;
    grid-template-areas:
    'header header header '
    
    'breadcrumbs breadcrumbs accesibility'  
    'nav nav nav'
    'pano_top pano_top pano_top'
    'sidePanel sidePanel sidePanel'
    'main main main'
    'footer footer footer';
  }
}


@media screen and (max-width: 570px) {
  #grid-container-index {
    grid-template-columns: 50% 50%;
    grid-template-areas:
    'header header'
    'nav accesibility'
    'breadcrumbs breadcrumbs'
    'pano_top pano_top'
    'sidePanel sidePanel'
    'main main'
    'footer footer';
  }
  
  .at_this_page {
    display: none;
  }
}



/*Only for this page###########################*/
:root {
  --cafes_main__image_box_height: 200px;
}
.cafes_main {
  padding: 0;
}
.cafes_main__item {
  display: block; 
  overflow: auto;
/*  min-height: calc(var(--cafes_main__image_box_height) + 0px);*/
    
  margin: 10px;
  margin-top: 32px;
  background-color: hsl(44, 54%, 92%);
  box-shadow: -3px 3px 8px hsl(0, 0%, 78%);
  border-radius: 10px;
  
  }

@media screen and (max-width: 570px){
  .cafes_main__item{
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 2vw; 
  } 
}

.cafes_main__item.darkMode-on {
  background-color: hsla(44, 25%, 53%, 0.13);
  box-shadow:none;
}


.cafes_main__image_box {
  border-radius: 10px;
  position: relative; /*necesary for cafes_main__logo positioning*/
  float: right;
  max-width: var(--cafes_main__image_box_height);
  height: auto;
  margin-left: 1vw;
}


@media screen and (max-width: 570px){
  .cafes_main__image_box {
    float: none;
    max-width: 100%;
    margin: auto; //*centers image in the container*/
    height: auto;
  }
}

@media screen and (min-width: 571px) and (max-width: 1010px){
  body.large .cafes_main__image_box {
    float: none;
    max-width: 300px;
    height: auto;
    margin: auto; //*centers image in the container*/
    border: 3px solid red;
  }
}

.cafes_main__img {
  margin: auto;
  border-radius: 10px;
  width: 100%;
  z-index: 1; /*postions an image under the logo*/  
  
}

@media screen and (max-width: 570px){
  .cafes_main__img {
    border-radius: 2vw;
  }
}


.cafes_main__logo {
  border-radius: 10px;
  position: absolute;
  left: 0px;
  top: 0px;
  
  width:calc(var(--cafes_main__image_box_height) * 0.4);
  height: auto;
  z-index: 2;
  
}

@media screen and (max-width: 570px){
  .cafes_main__logo {
    border-radius: 2vw;
  }
}


.cafes_main__name {
  text-align: left;
  font-size: 1.4em;
  padding: 0.5vw;
}

.cafes_main__description {
  padding: 0.5vw; 
}


/*cafes_short_ list #########################*/
.cafes_short {
  padding: 5px;
  color: gray;
}
@media screen and (min-width: 571px) and (max-width: 1010px){
  .cafes_short__flex_area {
    display: flex;
    flex-wrap: wrap;
  }
  .cafes_short__item {
    width: 48%;
    
    
  }
}

}

.cafes_short__title{
  margin: 5px;
      
}

.cafes_short__item {
  padding: 0.01vw;
  background-color: none;
  box-shadow: 2px 2px 5px #d4d4d4;
  border-radius: 5px;
  margin: auto;
  
}

.cafes_short__item {
  padding: 0.01vw;
  background-color: none;
  box-shadow: 2px 2px 5px #d4d4d4;
  border-radius: 5px;
  margin-top: 10px;
  
}


.cafes_short__item:hover {
  padding: 0.01vw;
  background-color: bisque;
  border-radius: 5px;
  
}

.cafes_short__item:hover.darkMode-on {
  
  background-color: #626262;
  
  
}


.cafes_short__logo, .cafes_short__mini_img{
  width: 30px;
  height: auto;
  vertical-align: middle;
    border-radius: 5px;
}

.cafes_short__mini_img{
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.cafes_short__name, .cafes_short__link {
  color: black;
  
  font-size: 0.9em;
  text-decoration: none;
  
    
  
}

/*
.cafes_short__link.darkMode-on {
  color: beige;
  
}
*/

.cafes_short__symbol {
  
  font-size: 0.7em;
  color: gray;
}


/*PRINTING display#################*/
@media print  {
  .accessibility {
    display: none;
  }
  #grid-container-index {
    width: 1000px;
    
    grid-template-columns: auto;
    grid-template-areas:
    'header'
    'breadcrumbs'
    'sidePanel'
    'article'
    'main'
    'footer';
  }  
}

.darkMode-on {
  color: bisque;
}

