/*index.html CSS------------------------------------*/





/*#### MAIN ####*/

/*INTRO section*/
.bottom_margin {
  margin-bottom: 50px;
}
.intro{
  
}

.intro__heading{
  
}

.intro__list{
  list-style-type: none;
  padding: 0;
}

.intro__item{
  padding: 1vw;
  background-color: #fcfcfc;
  box-shadow: 1px 1px 5px rgba(111, 111, 111, 0.48);
  border-radius: 5px;
  
}

@media screen and (max-width: 570px){
  .intro__item{
    background:none ;
  box-shadow: none;
  border-radius: 0px;
  border-top: 1px solid #bcbbbb;
  
  }
}

.intro__item--highlight{
  border: 3px solid #fd9797;
  background-color: #ffeeee;
  border-radius: 5px;
}

.intro__item.darkMode-on{
  background-color: #212121;
  box-shadow: none;
    
}

.intro__link{
  color: #0000a2;
}

.intro__link.darkMode-on{
  color: beige;
}

.intro__symbol{
  font-size: 0.7em;
  color: grey;
  text-decoration: none;
}

.at_this_page__item{
  word-break: break-word;
}
/**/
.panorama_bottom {
  
}

.panorama_bottom__heading {
  position: relative;
  display: block;
  border-top: 3px solid gray;
}
.panorama_bottom__img {
  width: 100%;
/*  max-width: 800px;*/
  height: auto;
  
}



/*ASIDE1 - Underground*/
#apps__label, #underground__label {
  cursor: pointer;
/*  font-size:1;*/
  text-align: left;
  color: gray;
  background-color: white;
  border-radius: 5px;
  border: 3px solid gray  ;

}
#apps__label.darkMode-on, #underground__label.darkMode-on{
  color: beige;
  background-color: black;
}

.underground {
  
}

.underground__area {
  
}

#underground__toggle { /*removes checkbox near MENU label*/
     display: none; 

}

@media screen and (max-width: 570px) {
  
    #underground__label { /*styles MENU symbol*/
        display: block;
        
    }
    
    #underground__toggle:checked + .underground__hiddenArea  { /*MENY symbol appears*/
        display: block;
      
    }

    .underground__hiddenArea, .underground__heading { /*MENU hides when MESNU symbol clicked*/
        display: none;
        clear: right;
    }

}


.underground__heading{
  text-align: center;
  word-break: break-word;
  
}

.underground__link {
  text-align: center
} 


.underground__img {
  display: block;
  width: 100%;
  max-width: 600px;
  
  border-radius: 15px;
  margin: auto;
  
  
}


/*ASIDE2 - Apps*/
.apps{
  
}


#apps__toggle { /*removes checkbox near MENU label*/
     display: none; 

}

@media screen and (max-width: 570px) {
  
    #apps__label { /*styles MENU symbol*/
        display: block;
        
    }
    
    #apps__toggle:checked + .apps__hiddenArea  { /*MENY symbol appears*/
        display: block;
      
    }

    .apps__hiddenArea, .apps__heading { /*MENU hides when MESNU symbol clicked*/
        display: none;
        clear: right;
    }

}
/*
@media screen and (max-width: 570px){
  .apps {
    display: none;
  }
}
*/

.app {
  display: block; 
  margin: 0.5vw;
  padding: 0.5vw;
  background-color: hsl(230, 30%, 90%);
  box-shadow: 5px 5px 10px gray;
  border-radius: 15px;
  }

.app.darkMode-on {
  background-color: hsl(230, 30%, 20%);
  box-shadow:none;
}

.app__img {
  position: relative;
  float: left;
  height: 60px;
  width: auto;
  border-radius: 20px;
  
}
@media screen and (max-width: 570px){
  .app__img{
    height: 30px;
  }
}
@media screen and (min-width: 571px) and (max-width: 1010px){
   .app__img{
    height: 45px;
  }
}


/*PRINTING display#################*/
@media print  {
  .accessibility {
    display: none;
  }
  .underground__img {
    width: 400px;
  }
  .photos__img, .at_this_page {
    display: none;
  }
  #grid-container-index {
    width: 1000px;
    
    grid-template-columns: auto;
    grid-template-areas:
    'header'
    'breadcrumbs'
    'pano_top'
    'main'
    'sidePanel'
    'footer';
  }
}

