/*PAGE - MUST_SEE##################################*/
:root {
  --must_see_main_max_width: 800px;
}


.must_see_main{
  position: relative;
  margin: 1vw;
  
  background-color: hsl(18, 21%, 90%);
  box-shadow: 0px 0px 8px hsl(18, 21%, 63%);
  border-radius: 15px;
}

.must_see_main.darkMode-on {
  background-color: hsla(18, 21%, 90%, 0.13);
  box-shadow:none;
}


.must_see_main__name{
  padding: 1vw;
}

.must_see_main__img {
  display: block; /*necessary to center an image inside div*/
  position: relative; 

  max-width: var(--must_see_main_max_width);
  width: 90%;
  height: auto;
  margin: auto; /*necessary to center an image*/
  
  border-radius: 10px;
  
 }

@media screen and (max-width: 570px){
  .must_see_main__img {
    width: 95%;
  }
}

.must_see_main__description{
  padding: 1vw;
}
.must_see_main__link {
  display: block;
  padding: 0.5vw;
  padding-bottom: 2vw;
}

/*MUST_SEE_SHORT #####################*/
.must_see_short{
  padding: 5px;
  color: gray;
}

.must_see_short__heading{
  margin: 0.05vw;
}

.must_see_short__list{
  list-style-type: none;
  padding-left: 0;

}
.must_see_short__item {
  padding: 0.05vw;
}

.must_see_short__img{
  vertical-align: middle;
  height: 40px;
  width: auto;
  border-radius: 20px;
  
}


.must_see_short__name, .must_see_short__link{
  color: gray;
  font-size: 0.9em;
  text-decoration: none;
}
.must_see_short__name {
  
}

.must_see_short__link{
  
}

.must_see_short__link.darkMode-on:hover {
  border: 1px solid gray;
  background-color: #151515;
  border-radius: 3px;
}
.must_see_short__link:hover {
  background-color: bisque
  
}
.must_see_short__symbol{
  font-size: 0.7em;
  color: gray;
}

/*cafes_short_ list #########################*/


.cafes_short__item{
    padding: 5px
}

.cafes_short__logo{
  width: 30px;
  height: auto;
  vertical-align: middle
}

.cafes_short__name, .cafes_short__link {
  color: gray;
  font-size: 0.9em;
  text-decoration: none;
  
}

.cafes_short__symbol {
  font-size: 0.7em;
  color: gray;
}

/*PRINTING display#################*/
@media print  {
  .accessibility {
    display: none;
  }
  
  .must_see_main__img{
    width: 400px;
  }
  #grid-container-index {
    width: 1000px;
    
    grid-template-columns: auto;
    grid-template-areas:
    'header'
    'breadcrumbs'
    'sidePanel'
    'article'
    'main'
    'footer';
  }
}