/*PAGE - CAFE ####################*/

:root {
  --cafes_main__image_box_height: 200px;
}
.cafe_main {
  
}
.cafe_main__item {
  display: block; 
  overflow: auto;
/*  min-height: calc(var(--cafes_main__image_box_height) + 0px);*/
  
  margin: 2vw;
  background-color: hsl(44, 51%, 84%);
  box-shadow: -3px 3px 8px hsl(44, 12%, 63%);
  border-radius: 15px;
  
  }

@media screen and (max-width: 570px){
  .cafe_main__item{
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 2vw; 
  } 
}
.cafe_main__item.darkMode-on {
  background-color: hsla(44, 25%, 53%, 0.13);
  box-shadow:none;
}


.cafes_main__image_box {
  border-radius: 15px;
  position: relative; /*necesary for cafes_main__logo positioning*/
  float: right;
  max-width: var(--cafes_main__image_box_height);
  height: auto;
  margin-left: 1vw;
}


@media screen and (max-width: 570px){
  .cafes_main__image_box {
    float: none;
    margin: auto; //*centers image in the container*/
    max-width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 571px) and (max-width: 1010px){
  body.large .cafes_main__image_box {
    float: none;
    
    max-width: 200px;
    height: auto;
    margin: auto; //*centers image in the container*/
    border: 3px solid red;
  }
}

.cafes_main__img {
  margin: auto;
  border-radius: 15px;
  width: 100%;
  z-index: 1; /*postions an image under the logo*/  
  
}

@media screen and (max-width: 570px){
  .cafes_main__img {
    border-radius: 2vw;
  }
}


.cafes_main__logo {
  border-radius: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  
  width:calc(var(--cafes_main__image_box_height) * 0.4);
  height: auto;
  z-index: 2;
  
}

@media screen and (max-width: 570px){
  .cafes_main__logo {
    border-radius: 2vw;
  }
}


.cafes_main__name {
  text-align: left;
  padding: 0.5vw;
}

.cafes_main__description {
  padding: 0.5vw; 
}


/*cafes_short_ list #########################*/
.cafes_short {
  padding: 5px;
  color: gray;
}

.cafes_short__title{
  margin: 5px;
  
    
}
.cafes_short__list {
  list-style-type: none;
  padding-left: 0;
  
}

.cafes_short__item {
  padding: 0.01vw;
  background-color: #e0e0e0;
  border-radius: 6px;
  margin: 10px;
  
}

.cafes_short__item:hover {
  padding: 0.01vw;
  background-color: bisque;
  border-radius: 10px;
  
}

.cafes_short__logo{
  width: 30px;
  height: auto;
  vertical-align: middle;
    border-radius: 6px;
}

.cafes_short__name, .cafes_short__link {
  color: black;
  font-size: 0.9em;
  text-decoration: none;
  
}

.cafes_short__link:hover {
  background-color: bisque;
}

.cafes_short__link.darkMode-on:hover {
  border: 1px solid gray;
  background-color: #151515;
  border-radius: 3px;
}


.cafes_short__symbol {
  
  font-size: 0.7em;
  color: gray;
}


/*PRINTING display#################*/
@media print  {
  .accessibility {
    display: none;
  }
  #grid-container-index {
    width: 1000px;
    
    grid-template-columns: auto;
    grid-template-areas:
    'header'
    'breadcrumbs'
    'sidePanel'
    'article'
    'main'
    'footer';
  }  
}

