
*{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  word-break: break-word;
}

body{
  padding: 2vw;
}
p, li {
  text-align: justify;
  padding-left:2vw;
  font-size: 1.3em
  
  
}
ul>li {
  margin-top: 10px;
  font-size: 1.3em;
}


body {
  max-width: 1500px;
  margin: auto;

}
h1{
  font-size: 2em;
}
h2,h3{
  font-size: 1.7em;
  margin-top: 3vw;
  padding-left: 3vw;
}

h3 u {
  display: block;
  font-size: 1.2em;
  margin-left:-2vw;
}

img {
  display: block;
  width: 90%;
  margin: 2vw;
  box-shadow: 1px 1px 8px gray;
  border-radius: 5px;
  object-fit:contain;

}
iframe {
  width: 90%;
  height: 500px;
  margin: auto;
  
}
hr {
  margin-top: 40px;
  margin-bottom: 20px;
}
.images{
  display: flex;
  flex-wrap: wrap;
  
}

.small_image {
  width: 30%;
/*  max-width: 300px;*/
  height: auto;
  margin: 10px;
    
}

.medium_image{
  width: 45%;
  
  height: auto;
  margin: auto;
  margin-top: 20px;
}
@media screen and (max-width: 1010px){
.images{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  
}
  .small_image { 
    width: 50%;
    margin: auto;
    margin-top: 20px;
  }
  
  .medium_image{
  width: 100%;
  
  
}
}
