@media screen and (max-width: 570px){}
@media screen and (min-width: 571px) and (max-width: 1010px){}
@media screen and (min-width:1010px){}


/*Common CSS-------------------------------------*/


*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
/*    border: 3px solid lightGray;*/
}
body {
  font-size: 1.2em;
}


img{
  
}

img.darkMode-on {
  filter: brightness(0.7);
}

button {
  border-radius: 5px;
  cursor: pointer;
}

button.darkMode-on {
  background-color: #393939;
  
}

/*
nav, header, main, footer,section, article, div, aside{
  margin: 3px;
  padding: 3px;
}
nav, header, main, footer,aside {
    border: 4px solid darkredred;
}  
section, article{
  border: 3px solid orange;
}

div {
    border: 2px solid yellow;
    
} 
*/
* {
  
}
*.darkMode-on{
  color: beige;
}
body{
    
}
body.darkMode-on{
  background-color: black;
}

main {
  
}

h1 {
  
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: 1.3em;
  color: black;
}

h2.darkMode-on {
  
}


/*vertical scroll PROGRESS BAR*/
.progress_bar {
  width: 0;
  position: fixed;
  top: 0; left: 0;
  z-index: 3;
    
  border-bottom-width: 8px;
  border-bottom-style: solid;
  border-bottom-color: crimson;
}

.progress_bar.darkMode-on{
  border-bottom-color: beige;
  border-bottom-width: 5px;
}

.progress_bar--complete {
  opacity: 0.5
}

/*Accessibility */


.gridArea {
  background-color: hsl(0,5%,95%);
  border-radius: 10px;
  margin: 0.5vw;
  padding: 0.5vw;
    
}
.gridArea.darkMode-on{
  background-color: hsl(0,5%,10%);
}
.float-right {
  float:right;
}







/*Main CSS-------------------------------------------*/

/*GRID AREAS*/
header { grid-area: header; }
.fpAccessibility.gridArea {grid-area: accesibility;}
main {grid-area: main;}
.breadcrumbs {grid-area: breadcrumbs;}
#articleAtThisPage{grid-area: article;} 
#asideUnderground{grid-area: aside1;}
#asideApps{grid-area: aside2;}
footer{grid-area: footer}

/*Index.html CSS------------------------------------*/
/*index.html main*/
.photos {
  overflow: auto;
}
.photos__img {
  max-width: 800px;
  width: 100%;
  height: auto;
  object-fit: scale-down;
  display: block;
  margin: auto;
  
  
}


.articleAtThisPage li, h2 {
  word-wrap: break-word;
  
    
}

/*Layout*/
#grid-container-index {
  display: grid;
  
}

@media screen and (max-width: 570px) {
  #grid-container-index {
    grid-template-columns: auto;
    grid-template-areas:
    'header'
    'accesibility'
    'breadcrumbs'
    'nav'
    'article'
    'main'
    'aside1'
    'aside2'
    'footer';
  }
  
}
@media screen and (min-width: 571px) and (max-width: 1010px){
  #grid-container-index {
    grid-template-columns: 25% auto;
    grid-template-areas:
    'header header header '
    'breadcrumbs breadcrumbs accesibility'  
    'nav nav nav'
    'article main main'
    'none main main'
    'none main main'
    'none aside1 aside1'
    'none aside2 aside2'
    'footer footer footer';
  }
}
@media screen and (min-width:1010px){
  #grid-container-index {
    grid-template-columns: auto 60% auto;
    grid-template-areas:
    'header header header'
    'breadcrumbs breadcrumbs accesibility'
    'nav main article'
    'nav main aside1'
    'none main aside1'
    'none main aside1'
    'none main aside2'
    'none main aside2'
    'footer footer footer';
  }



}

/*ASIDE1 - Underground*/
.underground__link {
  text-align: center
} 


.underground__img {
  
  width: 90%;
  max-width: 300px;
  
  border-radius: 15px;
  padding: 1vw;
  
  
}

/*
.underground__img.darkMode-on {
    filter: brightness(0.8)
  
  
}
*/



/*ASIDE2 - Apps*/
.app {
  display: block; 
  margin: 0.5vw;
  padding: 0.5vw;
  background-color: hsl(230, 30%, 90%);
  box-shadow: 5px 5px 10px gray;
  border-radius: 15px;
  }

.app.darkMode-on {
  background-color: hsl(230, 30%, 20%);
  box-shadow:none;
}

.app__img {
  position: relative;
  float: left;
  height: 60px;
  width: auto;
  border-radius: 20px;
  
}


/*#### TEST media print TEST*/
@media print  {
  .fpAccessibility {
    display: none;
    
  }
  div > p {
        break-inside: avoid;
    }
  
  #grid-container-index {
    width: 1500px;
    
    grid-template-columns: auto;
    grid-template-areas:
    'header'
    'nav'
    'article'
    'main'
    'aside1'
    'aside2'
    'footer';
  }
  
}


/*PAGE - CAFE ####################*/

:root {
  --cafe__image_box_height: 200px;
}
.cafe {
  display: block; 
  overflow: auto;
/*  min-height: calc(var(--cafe__image_box_height) + 0px);*/
  
  margin: 2vw;
  background-color: hsl(44, 51%, 84%);
  box-shadow: -3px 3px 8px hsl(44, 12%, 63%);
  border-radius: 15px;
  
  }
.cafe.darkMode-on {
  background-color: hsla(44, 25%, 53%, 0.13);
  box-shadow:none;
}


.cafe__image_box {
  border-radius: 15px;
  position: relative; /*necesary for cafe__logo positioning*/
  float: right;
  max-width: var(--cafe__image_box_height);
  height: auto;
  margin-left: 1vw;
}


@media screen and (max-width: 570px){
  .cafe__image_box {
    float: none;
    margin: auto; //*centers image in the container*/
    max-width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 571px) and (max-width: 1010px){
  body.large .cafe__image_box {
    float: none;
    
    max-width: 200px;
    height: auto;
    margin: auto; //*centers image in the container*/
    border: 3px solid red;
  }
}

.cafe__img {
  margin: auto;
  border-radius: 15px;
  width: 100%;
  z-index: 1; /*postions an image under the logo*/  
  
}

.cafe__logo {
  border-radius: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  
  width:calc(var(--cafe__image_box_height) * 0.4);
  height: auto;
  z-index: 2;
  
}

.cafe__name {
  text-align: left;
  padding: 0.5vw;
}

.cafe__description {
  padding: 0.5vw; 
}

/*PAGE - MUST_SEE##################################*/
:root {
  --must_see_max_width: 800px;
}


.must_see{
  position: relative;
  margin: 1vw;
  
  background-color: hsl(18, 21%, 90%);
  box-shadow: 0px 0px 8px hsl(18, 21%, 63%);
  border-radius: 15px;
}

.must_see.darkMode-on {
  background-color: hsla(18, 21%, 90%, 0.13);
  box-shadow:none;
}


.must_see__name{
  padding: 1vw;
}

.must_see__img {
  display: block; /*necessary to center an image inside div*/
  position: relative; 

  max-width: var(--must_see_max_width);
  width: 90%;
  height: auto;
  margin: auto; /*necessary to center an image*/
  
  border-radius: 10px;
  
 }

@media screen and (max-width: 570px){
  .must_see__img {
    width: 95%;
  }
}

.must_see__description{
  padding: 1vw;
}
.must_see__link {
  display: block;
  padding: 0.5vw;
  padding-bottom: 2vw;
}





