@media screen and (max-width: 570px){}
@media screen and (min-width: 571px) and (max-width: 1010px){}
@media screen and (min-width:1010px){}


/*Common CSS-------------------------------------*/


*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
/*    border: 3px solid lightGray;*/
}
body {
  font-size: 1.2em;
}


img{
  
}

img.darkMode-on {
  filter: brightness(0.7);
}

button {
  border-radius: 5px;
  cursor: pointer;
}

button.darkMode-on {
  background-color: #393939;
  
}

/*
nav, header, main, footer,section, article, div, aside{
  margin: 3px;
  padding: 3px;
}
nav, header, main, footer,aside {
    border: 4px solid darkredred;
}  
section, article{
  border: 3px solid orange;
}

div {
    border: 2px solid yellow;
    
} 
*/
* {
  
}
*.darkMode-on{
  color: beige;
}
body{
    
}
body.darkMode-on{
  background-color: black;
}

main {
  
}

h1 {
  
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: 1.3em;
  color: black;
}

h2.darkMode-on {
  
}


/*vertical scroll PROGRESS BAR*/
.progress_bar {
  width: 0;
  position: fixed;
  top: 0; left: 0;
  z-index: 3;
    
  border-bottom-width: 8px;
  border-bottom-style: solid;
  border-bottom-color: crimson;
}

.progress_bar.darkMode-on{
  border-bottom-color: beige;
  border-bottom-width: 5px;
}

.progress_bar--complete {
  opacity: 0.5
}

/*Accessibility */


.gridArea {
  background-color: hsl(0,5%,95%);
  border-radius: 10px;
  margin: 0.5vw;
  padding: 0.5vw;
    
}
.gridArea.darkMode-on{
  background-color: hsl(0,5%,10%);
}
.float-right {
  float:right;
}







/*Main CSS-------------------------------------------*/

/*GRID AREAS*/
header { grid-area: header; }
.accessibility {grid-area: accesibility;}
main {grid-area: main;}
.breadcrumbs {grid-area: breadcrumbs;}
.sidePanel {grid-area: sidePanel;}
footer{grid-area: footer}

/*Index.html CSS------------------------------------*/
/*index.html main*/
.photos {
  overflow: auto;
}
.photos__img {
  max-width: 800px;
  width: 100%;
  height: auto;
  object-fit: scale-down;
  display: block;
  margin: auto;
  
  
}


.articleAtThisPage li, h2 {
  word-wrap: break-word;
  
    
}

/*Layout*/
#grid-container-index {
  display: grid;
  
}

@media screen and (max-width: 570px) {
  #grid-container-index {
    grid-template-columns: auto;
    grid-template-areas:
    'header'
    'accesibility'
    'breadcrumbs'
    'nav'
/*    'article'*/
    'sidePanel'
    'main'
    'aside1'
    'aside2'
    'footer';
  }
  
}
@media screen and (min-width: 571px) and (max-width: 1010px){
  #grid-container-index {
    grid-template-columns: 25% auto;
    grid-template-areas:
    'header header header '
    'breadcrumbs breadcrumbs accesibility'  
    'nav nav nav'
    'sidePanel main main'
/*    'none main main'*/
/*    'none main main'*/
/*    'none aside1 aside1'*/
/*    'none aside2 aside2'*/
    'footer footer footer';
  }
}
@media screen and (min-width:1010px){
  #grid-container-index {
    grid-template-columns: auto 60% auto;
    grid-template-areas:
    'header header header'
    'breadcrumbs breadcrumbs accesibility'
    'nav main sidePanel'
    'footer footer footer';
  }



}

/*ASIDE1 - Underground*/
#apps__label, #underground__label {
  cursor: pointer;
  font-size:28px;
  text-align: center;
  color: gray;
  background-color: white;
  border-radius: 5px;
  border: 3px solid gray  ;

}
#apps__label.darkMode-on, #underground__label.darkMode-on{
  color: beige;
  background-color: black;
}

.underground {
  
}

.underground__area {
  
}

#underground__toggle { /*removes checkbox near MENU label*/
     display: none; 

}

@media screen and (max-width: 570px) {
  
    #underground__label { /*styles MENU symbol*/
        display: block;
        
    }
    
    #underground__toggle:checked + .underground__area  { /*MENY symbol appears*/
        display: block;
      
    }

    .underground__area, .underground__heading { /*MENU hides when MESNU symbol clicked*/
        display: none;
        clear: right;
    }

}


.underground__heading{
  text-align: center;
}

.underground__link {
  text-align: center
} 


.underground__img {
  display: block;
  width: 100%;
  max-width: 600px;
  
  border-radius: 15px;
  margin: auto;
  
  
}


/*ASIDE2 - Apps*/
.apps{
  
}


#apps__toggle { /*removes checkbox near MENU label*/
     display: none; 

}

@media screen and (max-width: 570px) {
  
    #apps__label, { /*styles MENU symbol*/
        display: block;
        
    }
    
    #apps__toggle:checked + .apps__hidingArea  { /*MENY symbol appears*/
        display: block;
      
    }

    .apps__hidingArea, .apps__heading { /*MENU hides when MESNU symbol clicked*/
        display: none;
        clear: right;
    }

}
/*
@media screen and (max-width: 570px){
  .apps {
    display: none;
  }
}
*/

.app {
  display: block; 
  margin: 0.5vw;
  padding: 0.5vw;
  background-color: hsl(230, 30%, 90%);
  box-shadow: 5px 5px 10px gray;
  border-radius: 15px;
  }

.app.darkMode-on {
  background-color: hsl(230, 30%, 20%);
  box-shadow:none;
}

.app__img {
  position: relative;
  float: left;
  height: 60px;
  width: auto;
  border-radius: 20px;
  
}


/*#### TEST media print TEST*/
@media print  {
  .accessibility {
    display: none;
    
  }
  div > p {
        break-inside: avoid;
    }
  
  #grid-container-index {
    width: 1500px;
    
    grid-template-columns: auto;
    grid-template-areas:
    'header'
    'nav'
    'article'
    'main'
    'aside1'
    'aside2'
    'footer';
  }
  
}

